
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color:rgb(3, 3, 78);
}

.banner{
  background-color: rgb(4, 0, 0);
  color: white;
}

.This{
  color:white;

}

img {
  align-content: center;
  border-radius: 125%;
  border-style: initial;
  float: right;
  width: 350px;
  height: 350px;
  
}

$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
